.button {
  line-height: 0;
  fill: var(--primary-500);
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.right {
  transform: scaleX(-1);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.1;
}
