.root {
  display: grid;
  padding-top: 100px;
  padding-inline: 150px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.nav {
  grid-column-end: span 3;
  justify-self: center;
}

.repo {
  margin: 0;
  margin-bottom: 20px;
}

.description {
  line-height: 1.4;
  letter-spacing: -0.0125em;
  color: #b0b0b0;
}
