.root {
  display: grid;
  min-height: 100vh;
}

.content {
  justify-self: stretch;
  align-self: center;
  display: grid;
  gap: 48px;
  padding-inline: 150px;
  align-items: start;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
}

.logo {
  grid-row-end: span 2;
}

.heading {
  margin-top: 0px;
  line-height: 1.2;
  max-width: 480px;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form input {
  flex-grow: 1;
}
